@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');
@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/antd/dist/antd.css';

body {
	overflow-x: hidden;
}

.Sidebar {
	position: relative;
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: #fff;
}

.Logo {
	position: fixed;
	display: flex;
	justify-content: center;
	background-color: #0756aa;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	font-weight: lighter;
	box-shadow: 2px 0px 4px 0px rgba(35, 52, 71, 0.678);
}

.App-logo {
	padding: 20px;
}

.Menu-wrapper {
	position: absolute;
}

.SideMenu {
	position: fixed;
	margin-top: 15vh;
	text-align: center;
	background-color: #1c2541;
	width: 100%;
}

.AffixButton {
	position: fixed;
	top: 90%;
	right: 8%;
	text-align: center;
	z-index: 2;
}

.Wrapper {
	min-width: 100%;
	min-height: 100%;
}

.Title {
	display: block;
	position: fixed;
	color: #fff;
	font-size: 2em;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
		'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.Accounts {
	padding: 30px;
}

.TabInterface {
	padding: 20px;
}

.Journal {
	display: flex;
	flex-direction: column-reverse;
}

.Spending {
	padding: 80px;
}

.ant-page-header {
	position: fixed !important;
	background-color: #eff2f5 !important;
	padding: 5px 24px !important;
	max-width: 90% !important;
	margin: 10px 0 10px !important;
	border-radius: 2px !important;
}

.ant-list {
	left: -100px !important;
	margin: 0 auto !important;
}

.ant-layout-header {
	position: fixed !important;
	width: 100% !important;
	z-index: 2;
}

.ant-layout-content {
	position: relative;
	margin-top: 64px;
}

#copyright {
	padding: 20px;
	position: fixed;
	margin: 0 auto;
	bottom: 0;
	font-size: 0.8em;
	color: rgba(240, 255, 255, 0.9);
}

#add {
	font-size: 1.5em;
}

#transactions {
	border: 1px solid grey;
	border-radius: 10px;
	max-width: 70%;
	padding: 25px;
}

#total {
	color: #f44336;
	position: relative;
	top: -50px;
	padding-left: 90%;
	font-weight: bold;
	font-size: 1.5em;
}

#date {
	display: block;
	font-size: 1.2em;
	margin-left: 15%;
	padding: 20px 10px;
	margin: 0 auto;
}

#spending-tab {
	padding: 20px;
	border: 2px solid #ef7a85;
	border-radius: 5px;
}

#income-tab {
	padding: 20px;
	border: 2px solid #7ddf64;
	border-radius: 5px;
}

#transfer-tab {
	padding: 20px;
	border: 2px solid rgba(0, 225, 255, 0.61);
	border-radius: 5px;
}

#amount,
#category,
#date,
#notes {
	width: 90%;
}

#save {
	margin: 20px;
}